.hero-draw {
    opacity: 0;
    transition: opacity 2000ms linear;
}

.hero-image {
    opacity: 0;
    transition: opacity 2000ms linear 2000ms;
}

.hero-curve {
    opacity: 0;
    fill-opacity: 0;
    transition: all 2000ms linear;
}

.hero-gradient {
    fill-opacity: 1;
}

.hero-opacity {
    opacity: 1;
}
