.menu-button.open div:nth-child(2) {
  -webkit-animation: div2 1s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div2 1s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

@-webkit-keyframes div2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    @apply w-[3px];
    transform: translate(0, 0) scale(1);
  }
  40% {
    @apply w-[3px];
    transform: translate(0, 0) scale(1);
  }
  50% {
    @apply w-[3px];
    transform: translate(0, 5px) scale(1);
  }
  80% {
    @apply w-[3px];
    transform: translate(0, -5px) scale(1);
  }
  100% {
    @apply w-[3px];
    transform: translate(0, 169px) scale(0);
  }
}

@keyframes div2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    @apply w-[3px];
    transform: translate(0, 0) scale(1);
  }
  40% {
    @apply w-[3px];
    transform: translate(0, 0) scale(1);
  }
  50% {
    @apply w-[3px];
    transform: translate(0, 5px) scale(1);
  }
  80% {
    @apply w-[3px];
    transform: translate(0, -5px) scale(1);
  }
  100% {
    @apply w-[3px];
    transform: translate(0, 169px) scale(0);
  }
}

.menu-button.open div:nth-child(3) {
  -webkit-animation: div3 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div3 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-animation-delay: 0.46s;
  animation-delay: 0.46s;
}

@-webkit-keyframes div3 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(80deg) translate(-5px, -5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes div3 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(80deg) translate(-5px, -5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

.menu-button.open div:nth-child(1) {
  -webkit-animation: div1 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div1 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-animation-delay: 0.73s;
  animation-delay: 0.73s;
}

@-webkit-keyframes div1 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(-110deg) translate(-5px, -5px);
  }
  100% {
    transform: rotate(-45deg) translate(-7px, 7px);
  }
}

@keyframes div1 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(-110deg) translate(-5px, -5px);
    width: 100%;
  }
  100% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
}

.menu-button div:nth-child(1) {
  -webkit-animation: div1-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div1-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

@-webkit-keyframes div1-close {
  0% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@-webkit-keyframes div1-close {
  0% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@-webkit-keyframes div1-close {
  0% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@-webkit-keyframes div1-close {
  0% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes div1-close {
  0% {
    transform: rotate(-45deg) translate(-7px, 7px);
    width: 100%;
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.menu-button div:nth-child(2) {
  -webkit-animation: div2-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div2-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

@-webkit-keyframes div2-close {
  0% {
    transform: translate(0, 7px) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes div2-close {
  0% {
    transform: translate(0, 7px) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes div2-close {
  0% {
    transform: translate(0, 7px) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes div2-close {
  0% {
    transform: translate(0, 7px) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
.menu-button div:nth-child(3) {
  -webkit-animation: div3-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: div3-close 0.53s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

@-webkit-keyframes div3-close {
  0% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes div3-close {
  0% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}
