.section-subtitle {
    @apply text-[14px] uppercase tracking-wider text-text sm:text-[18px] opacity-75;
}

.section-title {
    @apply pointer-events-auto text-[30px] font-black text-text sm:text-[50px] md:text-[60px] xs:text-[40px];
}

.gradient-animation {
    -webkit-animation: gradient 5s infinite alternate;
            animation: gradient 5s infinite alternate;
}

@-webkit-keyframes gradient {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes gradient {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.letterBounce {
    -webkit-animation: letter 1s ease-out;
            animation: letter 1s ease-out;
}

@-webkit-keyframes letter {
    20%, 50%, 80%, to {
        transform: scale(1, 1);
    }
    40%, 50% {
        transform: scale(1.75, 0.65);
    }
    60% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    } 
}

@keyframes letter {
    20%, 50%, 80%, to {
        transform: scale(1, 1);
    }
    40%, 50% {
        transform: scale(1.75, 0.65);
    }
    60% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}